html, body {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.col1,
.col2,
.col3,
.col4,
.col5 {
    /* filter: blur(5px); */
    width: 100%;
    height: 20%;
}

.col1 {
    background-color: cyan;
}

.col2 {
    background-color: red;
}

.col3 {
    background-color: green;
}

.col4 {
    background-color: purple;
}

.col5 {
    background-color: yellowgreen;
}

/* =====================
          Typography
    =====================*/

.col1 p,
.col2 p,
.col3 p,
.col4 p,
.col5 p {
    margin-top: auto;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* =====================
    Responsive Media Queries
    =====================*/
@media (min-width:200px) and (max-width:390px) {
}

@media (min-width: 391px) and (max-width: 480px) {
}

@media (min-width: 480px) and (max-width: 899px) {
}

@media (min-width: 900px) {
    .container {
        flex-direction: row;
        justify-content: center;
    }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5 {
        /* filter: blur(5px); */
        width: 20%;
        height: 100%;
    }

}

